.footer {
    background-color: #e2e1d4;
    width: 100vw;
    height: 10vh;
    display: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vmin;
    color: #48483e;
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
  
    & i,
    a {
      color: #0d0709;
    }
    & .footerElement {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 10vh;
      cursor: pointer;
      list-style: none;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1200px) {}
  @media screen and (max-width: 1024px) {}
  